<hero class="hero">
  <div class="container">
    <h1 class="main-text">
      Welcome to our <span class="main-text-span">collection</span> of premium
      watches
    </h1>
    <div class="idk">
      <div class="photo-container">
        <img
          class="photo1"
          srcset="./img/blondgirl@1x.jpg 1x, ./img/blondgirl@2x.jpg 2x"
          src="./img/blondgirl@1x.jpg"
          alt="Blond Girl"
          width="44"
        />
        <img
          class="photo2"
          srcset="
            ./img/Manwithglasses@1x.jpg 1x,
            ./img/Manwithglasses@2x.jpg 2x
          "
          src="./img/Manwithglasses@1x.jpg"
          alt="Man with glasses"
          width="44"
        />
        <img
          class="photo3"
          srcset="
            ./img/Girlwithglasses@1x.jpg 1x,
            ./img/Girlwithglasses@2x.jpg 2x
          "
          src="./img/Girlwithglasses@1x.jpg"
          alt="Girl with glasses"
          width="44"
        />
      </div>
      <a class="scroll" href="Якорь">Scroll down</a>
    </div>
    <img
      class="watch"
      srcset="./img/Rectangle@1x.jpg 1x, ./img/Rectangle@2x.jpg 2x"
      src="./img/Rectangle@1x.jpg"
      alt="watch"
      width="335"
    />
  </div>
</hero>
