<section class="hero">
  <div class="container">
    <div class="text-container">
      <h1 class="main-text">
        Welcome to our <span class="main-text-span">collection</span> of premium
        watches
      </h1>
      <p class="text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="photo-scroll">
      <div class="photo-container">
        <picture class="photo1">
          <source
            srcset="
              ./img/blondgirl-desk@1x.jpg 1x,
              ./img/blondgirl-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/blondgirl-tab@1x.jpg 1x,
              ./img/blondgirl-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/blondgirl-mob@1x.jpg 1x,
              ./img/blondgirl-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/blondgirl-tab@1x.jpg" alt="blondgirl" />
        </picture>
        <picture class="photo2">
          <source
            srcset="
              ./img/Manwithglasses-desk@1x.jpg 1x,
              ./img/Manwithglasses-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Manwithglasses-tab@1x.jpg 1x,
              ./img/Manwithglasses-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Manwithglasses-mob@1x.jpg 1x,
              ./img/Manwithglasses-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Manwithglasses-tab@1x.jpg" alt="Manwithglasses" />
        </picture>
        <picture class="photo3">
          <source
            srcset="
              ./img/Girlwithglasses-desk@1x.jpg 1x,
              ./img/Girlwithglasses-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Girlwithglasses-tab@1x.jpg 1x,
              ./img/Girlwithglasses-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Girlwithglasses-mob@1x.jpg 1x,
              ./img/Girlwithglasses-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Girlwithglasses-tab@1x.jpg" alt="Girlwithglasses" />
        </picture>
      </div>
      <a class="scroll" href="Якорь">Scroll down</a>
    </div>
    <div class="img-watch">
      <picture>
        <source
          srcset="
            ./img/Rectangle-desk@1x.jpg 1x,
            ./img/Rectangle-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/Rectangle-tab@1x.jpg 1x, ./img/Rectangle-tab@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/Rectangle-mob@1x.jpg 1x, ./img/Rectangle-mob@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img src="./img/Rectangle-tab@1x.jpg" alt="watch" />
      </picture>
    </div>
  </div>
</section>
