<section class="sale-section" id="sale">
  <div class="container container-sale">
    <h2 class="sale-cont">Sale</h2>
    <div class="left-panel">
      <div class="thumbnails">
        <ul class="main-image-list">
          <li class="main-image-list-item">
            <img
              src="./img/watchone@1x.jpg"
              srcset="./img/watchone@1x.jpg 1x, ./img/watchone@2x.jpg 2x"
              alt="Thumbnail 1"
              class="main-image-list-photo"
            />
          </li>
          <li class="main-image-list-item">
            <img
              src="./img/watchtwo@1x.jpg"
              srcset="./img/watchtwo@1x.jpg 1x, ./img/watchtwo@2x.jpg"
              alt="Thumbnail 2"
              class="main-image-list-photo"
            />
          </li>
          <li class="main-image-list-item">
            <img
              src="./img/watchthree@1x.jpg"
              srcset="./img/watchthree@1x.jpg 1x, ./img/watchthree@2x.jpg 2x"
              alt="Thumbnail 3"
              class="main-image-list-photo"
            />
          </li>
          <li class="main-image-list-item">
            <img
              src="./img/watchfour@1x.jpg"
              srcset="./img/watchfour@1x.jpg 1x, ./img/watchfour@2x.jpg 2x"
              alt="Thumbnail 4"
              class="main-image-list-photo"
            />
          </li>
        </ul>
      </div>
      <div class="main-image-container">
        <img
          src="./img/mainwatch@1x.jpg"
          srcset="./img/mainwatch@1x.jpg 1x, ./img/watchmain@2x.jpg 2x"
          alt="Main Watch"
          class="main-image"
        />
      </div>
    </div>
    <div class="right-panel">
      <h2 class="right-panel-title">
        MARQ® Commander (Gen 2) – Carbon Edition
      </h2>
      <p class="product-tag">Product tag: 703557</p>
      <div class="price">
        <p class="price-span"><span>€1500</span></p>
        <p class="price-del"><del>€3000</del></p>
      </div>
      <p class="description">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <div class="tags">
        <span class="tags-span">Fused carbon fiber</span>
        <span class="tags-span">Grade-5 Titanium</span>
        <span class="tags-span">Athlete</span>
        <span class="tags-span">Golfer</span>
        <span class="tags-span">Commander</span>
        <span class="tags-span">Adventurer</span>
      </div>
    </div>
  </div>
</section>
