<div class="sale contaiter">
    <span class="sale-28">Sale</span>
    <div class="section-29">
      <div class="images">
        <div class="images-2a">
          <div class="section-2b">
            <img 
                    src="./img/sale/watch-main1x.jpg" 
                    srcset="./img/sale/watch-main1x.jpg 1x, ./img/sale/watch-main2x.jpg 2x" 
                    alt="Main Watch" 
                    class="main-image">

          </div>
          <div class="section-2c">
            <img 
                    src="./img/sale/watch-sec1x.jpg" 
                    srcset="./img/sale/watch-sec1x.jpg 1x, ./img/sale/watch-sec2x.jpg 2x" 
                    alt="Thumbnail 1">

          </div>
          <div class="section-2d">
            <img 
                    src="./img/sale/watch-tre1x.jpg" 
                    srcset="./img/sale/watch-tre1x.jpg 1x, ./img/sale/watch-tre2x.jpg 2x" 
                    alt="Thumbnail 2">

          </div>
          <div class="section-2e">
            <img 
                    src="./img/sale/watch-for1x.jpg" 
                    srcset="./img/sale/watch-for1x.jpg 1x, ./img/sale/watch-for2x.jpg 2x" 
                    alt="Thumbnail 3">
          </div>
        </div>
        <div class="image-2f"></div>
      </div>
      <div class="section-30">
        <div class="text-31">
          <span class="marq-commander"
            >MARQ® Commander (Gen 2) - Carbon Edition</span
          ><span class="product-tag">Product tag: 706587</span>
        </div>
        <span class="garmin-marq-commander"
          >The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
          smartwatch for adventurers that takes materials and features to
          the next level. The body of the watch is made of very durable
          Fused Carbon Fiber material and has a precise AMOLED touch screen.
          The sensitive touch screen is complemented by buttons that can be
          used in any conditions.
        </span>
        <div class="block-32">
          <div class="section-33">
            <span class="fused-carbon-fiber">Fused carbon fiber </span>
          </div>
          <div class="section-34"><span class="golfer">Golfer</span></div>
          <div class="section-35">
            <span class="commander">Commander</span>
          </div>
          <div class="section-36">
            <span class="grade-titanium">Grade-5 Titanuim</span>
          </div>
          <div class="section-37">
            <span class="adventurer">Adventurer</span>
          </div>
          <div class="section-38"><span class="athlete">Athlete</span></div>
        </div>
        <div class="rectangle-39"></div>
        <div class="price-3a">
          <span class="euro-1500">€1500</span>
          <div class="rectangle-3b"></div>
        </div>
        <span class="euro-3000">€3000</span>
      
</div>
   
</div>
  
</div>
