
<div class="contaiter container-sale">
    <span class="sale-30">Sale</span>
    <div class="left-panel">
        <div class="main-image-container">
            <img 
                src="../img/watch-main@1x.jpg"
                srcset="../img/watch-main@ 1x.jpg 1x, ../img/watch-main@2x.jpg 2x" 
                alt="Main Watch" 
                class="main-image">
        </div>
        <div class="thumbnails">
            <img 
                src="../img/watch-sec@1x.jpg" 
                srcset="../img/watch-sec@1x.jpg 1x, ../img/watch-sec@2x.jpg 2x" 
                alt="Thumbnail 1">
            <img 
                src="../img/watch-tre@1x.jpg" 
                srcset="../img/watch-tre@1x.jpg 1x, ../img/watch-tre@2x.jpg 2x" 
                alt="Thumbnail 2">
            <img 
                src="../img/watch-for@1x.jpg" 
                srcset="../img/watch-for@1x.jpg 1x, ../img/watch-for@2x.jpg 2x" 
                alt="Thumbnail 3">
      </div>
    <div class="right-panel">
        <h2>MARQ® Commander (Gen 2) – Carbon Edition</h2>
        <p class="product-tag">Product tag: 703557</p>
        <p class="price"><span>€1500</span> <del>€1950</del></p>
        <p class="description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="tags">
            <span>Fused carbon fiber</span>
            <span>Grade-5 Titanium</span>
            <span>Athlete</span>
            <span>Golfer</span>
            <span>Commander</span>
            <span>Adventurer</span>
        </div>
    </div>
</div>
</div>
 