.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
}

.container-all {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title-catalog {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  column-gap: 0;
}

.catalog-main-list {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  min-width: 280px;
  max-width: 100%;
}

.container-clock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 24px 28px;
}

.contaiter-foto {
  height: 226px;
  margin: auto;
  padding: 18px 36px;
}
.foto-clock {
  mix-blend-mode: multiply;
  margin: auto;
}

.info-clock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
/*   width: 279px; */
}

.name-clocks {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.text-catalog {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.price-clock {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  margin: 0;
}

.catalog-main-list-second {
  display: none;
}
.catalog-btn:hover,
.catalog-btn:focus {
  background: #1f3cd4;
}

.catalog-btn {
  display: block;
  border-radius: 16px;
  padding: 15px 44px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 160px;
  height: 48px;
  margin: 40px 88px;
}

@media only screen and (min-width: 768px) {
  .catalog {
    padding-top: 40px;
  }
  .catalog-list,
  .catalog-main-list-second {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    row-gap: 32px;
  }

  .container-clock {
    display: flex;
  }

  .title-catalog {
    margin-bottom: 40px;
  }

  .catalog-main-list,
  .catalog-main-list-second {
    flex-basis: calc((100% - 1 * 16px) / 2);
  }

  .contaiter-foto {
    height: auto;
    margin: auto;
    padding: 0;
  }

  .foto-clock {
    width: 280px;
    mix-blend-mode: multiply;
    margin: auto;
  }

  .catalog-btn {
    display: none;
  }

  .catalog-main-list-second {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background: #f3f3f3;
  }

  .text-catalog {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }

  .name-clocks {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 1280px) {
.catalog {
  padding-top: 50px;
}
  
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 23px;
    row-gap: 32px;
  }

  .catalog-btn {
    display: none;
  }

  .contaiter-foto {
    height: auto;
    margin: auto;
    padding: 0;
  }

  .catalog-main-list {
    flex-basis: calc((100% - 2 * 23px) / 3);
  }

  .catalog-main-list-second {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background: #f3f3f3;
    flex-basis: calc((100% - 2 * 23px) / 3);
  }
  .text-catalog {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }

  .container-clock {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 24px 32px;
  }
}
