.contact-us {
  padding-top: 30px;
  padding-bottom: 60px;
}

.contact-us .container {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.contact-us .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contact-us-wrap {
  padding: 48px 28px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 30px;
}
.contact-us-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

input,
textarea {
  font-family: inherit;
}

.contact-us-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 0 14px;
  margin-bottom: 18px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-input:hover,
.contact-us-input:focus,
.contact-us-com:hover,
.contact-us-com:focus {
  border-color: #3350e9;
}

.contact-us-input::placeholder,
.contact-us-com::placeholder {
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
}

.contact-us-com {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  height: 84px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 28px;
}
.contact-us-btn {
  display: block;
  border-radius: 16px;
  padding: 12px 50px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-btn:hover,
.contact-us-btn:focus {
  background: #1f3cd4;
}

@media only screen and (min-width: 768px) {
  .contact-us {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .contact-us .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .contact-us .title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .contact-us-wrap {
    padding: 50px 122px;
    margin-bottom: 40px;
    border-radius: 50px;
  }

  .contact-us-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .contact-us-input {
    height: 52px;
    padding: 0 18px;
  }

  .contact-us-com {
    padding: 16px;
    height: 90px;
    margin-bottom: 32px;
  }

  .contact-us-btn {
    padding: 17px 63px;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-us {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .contact-us .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .contact-us-content {
    display: flex;
    gap: 40px;
  }

  .contact-us-wrap {
    padding: 50px 60px;
    margin-bottom: 0;
  }

  .contact-us-img {
    flex-shrink: 0;
  }
}
