/* #region Mobile Styles */
.footer {
  padding: 30px 20px 20px;
  color: #fbfbfb;
}

a {
  color: currentColor;
}

.footer.container {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  background-color: #0c0c0c;
  max-width: 335px;
}

.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.social-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.social-li {
  position: relative;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
}

.social-li:hover .social-icon,
.social-li:focus .social-icon {
  fill: #fbfbfb;
}

.social-icon {
  fill: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 300ms ease-in-out;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  margin-bottom: 40px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.footer-contact:hover,
.footer-contact:hover {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

.footer-tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  font-style: normal;
}

.footer-info {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer-nav-adr {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 48px;
}

.footer-nav-adr::after {
  position: absolute;
  content: '';
  left: 0;
  top: 88px;
  width: 100%;
  height: 1px;
  background-color: rgba(251, 251, 251, 0.1);
}

.footer-nav {
  display: flex;
  width: 147px;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
}

.nav-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.adr-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 83px;
}

.copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 8px;
  opacity: 0.9;
}

.copyright-list {
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
/* #endregion Mobile Styles */

/* #region Tablet Styles */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 40px 32px 32px;
  }

  .footer.container {
    padding: 40px 40px 28px 40px;
    max-width: 704px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 86px;
  }

  .social-list {
    margin-bottom: 0;
  }

  .social-li {
    width: 36px;
    height: 36px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .footer-contact {
    width: 160px;
    height: 48px;
    margin-bottom: 0;
  }

  .footer-tel {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-info {
    font-size: 28px;
    line-height: 1.14;
    display: block;
    width: 524px;
    margin: 0 auto 100px;
  }

  .footer-nav-adr {
    margin-top: 0;
    margin-bottom: 56px;
  }

  .footer-nav-adr::after {
    top: 64px;
  }

  .footer-nav {
    width: 100%;
    column-gap: 19px;
    row-gap: 0;
  }

  .nav-item {
    font-size: 14px;
    line-height: 1.29;
  }

  .adr-item {
    font-size: 14px;
    line-height: 1.29;
    width: 162px;
  }

  .copyright {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 0;
  }

  .copyright-box {
    display: flex;
    justify-content: space-between;
  }

  .copyright-list {
    font-size: 14px;
    line-height: 1.29;
  }
}
/* #endregion Tablet Styles */

/* #region Desktop Styles */
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 50px 32px 32px;
  }

  .footer.container {
    max-width: 1150px;
    position: relative;
  }

  .footer-links {
    margin-bottom: 142px;
  }

  .footer-info {
    width: 523px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .footer-nav {
    column-gap: 40px;
  }

  .nav-item {
    font-size: 14px;
    line-height: 1.29;
  }

  .copyright {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 0;
  }

  .copyright-box {
    display: flex;
    justify-content: space-between;
  }
}
/* #endregion Desktop Styles */
