/* Mobile Styles */

.section-header {
  padding: 20px 0;
  background-color: #fbfbfb;
  border-bottom: 1px solid #f3f3f3;
}

.header .container {
  display: flex;
}

.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 8px 0;
  margin-right: auto;
}

.header-nav-list,
.header-social-list {
  display: none;
}

.mobile-btn-header {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-btn-icon {
  display: block;
  stroke: #0c0c0c;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .section-header {
    padding: 26px 0;
  }

  .header-logo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section-header {
    background-color: #f3f3f3;
  }

  .header-logo {
    padding: 6px 0;
  }

  .mobile-btn-header {
    display: none;
  }

  .header-nav {
    margin-right: auto;
  }

  .header-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .header-nav-link {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #0c0c0c;
  }

  .header-nav-link.current {
    position: relative;
  }

  .header-nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 13px;
    border-radius: 100%;
    width: 9px;
    height: 8px;
    background-color: #3350e9;
  }

  .header-social-list {
    display: flex;
    gap: 10px;
  }

  .header-social-item {
    position: relative;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px;
  }

  .header-social-icon {
    fill: #0c0c0c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-icon:hover,
  .header-social-icon:focus {
    fill: #3350e9;
  }
}
