.hero {
  padding: 60px 0 30px;
  color: #fbfbfb;
}
.main-text {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}
.main-text-span {
  color: #3350e9;
}
.text-container {
  max-width: 335px;
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.photo-scroll {
  margin-bottom: 28px;
}
.photo-container {
  position: relative;
}
.photo-container picture {
  display: flex;
  position: absolute;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
}
.photo1 {
  z-index: 1;
}
.photo2 {
  z-index: 2;
  left: 32px;
}
.photo3 {
  z-index: 3;
  left: 64px;
}
.scroll {
  padding: 26px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
.scroll:hover,
.scroll:focus {
  color: #3350e9;
}
@media screen and (min-width: 768px) {
  .text-container {
    max-width: 557px;
  }
  .hero {
    padding: 80px 32px 40px;
  }
  .main-text {
    font-size: 70px;
    line-height: 0.85;
    margin-bottom: 20px;
  }
  .hero .container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 11px;
     }
  
  .text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }
  .photo-scroll {
    max-width: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .scroll {
    font-size: 20px;
    line-height: 1;
    padding: 240px 0 0 34px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding: 80px 65px 50px;
  }
  .text-container {
    max-width: 597px;
  }
  .main-text {
    font-size: 72px;
    line-height: 0.87;
    letter-spacing: -0.02em;
  }
  .hero .container {
    gap: 0 407px;
  }
  .photo2 {
    z-index: 2;
    left: 44px;
  }
  .photo3 {
    left: 86px;
  }
  .photo-scroll {
    max-width: 146px;
  }
  .scroll {
    padding: 249px 0 0 44px;
  }
}
